div#app div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  flex: 0 0 100%;
  text-align: center;
  color: #24242B;
}

ul {
  flex: 0 0 100%;
  text-align: center;
  list-style-type: none;
  padding: 0px; margin: 30px 0 0 0;
}

li {
  margin-bottom: 50px;
}